# Tavily Search API configuration
TAVILY_API_KEY=your_tavily_api_key_here

# OpenAI API configuration
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_BASE_URL=your_openai_base_url_here

# Gemini API configuration for failsafe
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_API_BASE=https://generativelanguage.googleapis.com/v1beta/openai/

# LangSmith configuration (optional, for tracing and debugging your agent)
# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_API_KEY=your_langchain_api_key_here
# LANGCHAIN_PROJECT=hkex-agent

# Volcengine Ark API configuration
ARK_API_KEY=your_ark_api_key_here
ARK_API_BASE=https://ark.cn-beijing.volces.com/api/v3
ARK_MODEL_EP=your_ark_model_endpoint_id_here

# Zhipu API configuration
ZHIPU_API_KEY=your_zhipu_api_key_here
ZHIPU_API_BASE=https://open.bigmodel.cn/api/paas/v4/
ZHIPU_MODEL_EP=your_zhipu_model_endpoint_id_here



